[Unit]
Description='Traktarr'
After=multi-user.target network-online.target

[Service]
User=0
Group=0
Type=simple
Environment="LC_ALL=C.UTF-8"
Environment="LANG=C.UTF-8"
WorkingDirectory=/opt/mhs/apps-data/traktarr/
ExecStart=/usr/bin/python3 /opt/mhs/apps-data/traktarr/traktarr.py run
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
